<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        {% if editar == true %}
          Modificar Examen
        {% else %}
          Registrar Examen
        {% endif %}
      </h5>
      <div class="card-body">
        {{ form_start(form,{'attr': {'id': 'examen'}}) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row">
            <div class="col-md-12">
              {{ form_label(form.tipoExamen) }}
              {{ form_widget(form.tipoExamen) }}
            </div>
            <div class="col-md-12" id="seccion_categoria">
              {{ form_label(form.categoria) }}
              {{ form_widget(form.categoria) }}
            </div>
          </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              {% if editar == false %}
                <div class="col-md-3" style="text-align: left;">
                  <button id="limpiarDatos" type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
                </div>
              {% else %}
                <div class="col-md-3" style="text-align: left;">
                  <button id="limpiarDatos" type="reset" class="btn btn-outline-info" style="visibility:hidden">Limpiar Pantalla</button>
                </div>
              {% endif%}
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>