{% extends 'base.html.twig' %}

{% block title %}Lista de Examenes{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            Bienvenido al Sistema Informatico de la Clinica Hospitalaria 
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        {% if user.getUser().getRol().getNombreRol() != 'ROLE_PACIENTE' %}
                            {% if is_granted('ROLE_PERMISSION_NEW_EXAMEN_SOLICITADO') %}
                                <a class="btn btn-success" href="{{path('examen_solicitado_new',{'cita': cita.getId()})}}" style="color: black;"><i class="fas fa-microscope"></i> Registrar Examen</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Tipo de Examen</th>
                                            <th id="relevante" class="all">Categoria</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for examen_solicitado in examen_solicitados %}
                                        <tr>
                                            <td>{{ examen_solicitado.tipo_examen}}</td>
                                            <td>{{ examen_solicitado.categoria}}</td>
                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_INDEX_EXAMENES') %}
                                                    <a href="#" id="ruteo" class="btn btn-info" style="color: white" onclick="ruteodinamico(&#39;{{examen_solicitado.tipo_examen}}&#39;,&#39;{{examen_solicitado.categoria}}&#39;)">Asignar Resultados</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_EXAMEN_SOLICITADO') %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ examen_solicitado.id}}">
                                                    Eliminar
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ examen_solicitado.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Examen</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Esta seguro que desea eliminar el examen?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                            <form method="post" action="{{ path('examen_solicitado_delete', {'cita': cita.getId(), id: examen_solicitado.id}) }}">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examen_solicitado.id) }}">
                                                                <button type="submit" class="btn btn-outline-danger">Si</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script type="text/javascript">
    function ruteodinamico(tipo_examen, categoria) {
        $(document).ready(function(){
            if(tipo_examen == 'Quimica Sanguinea' && categoria == '-'){
                let route = "{{path('examen_quimica_sanguinea_index') | escape('js')}}"
                location.replace(route);
            }else if(tipo_examen == 'Hematologico' && categoria == '-'){
                let route = "{{path('examen_hematologico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Orina' && categoria == 'Quimico'){
                let route = "{{path('examen_orina_quimico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Orina' && categoria == 'Microscopico'){
                let route = "{{path('examen_orina_microscopico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Orina' && categoria == 'Macroscopico'){
                let route = "{{path('examen_orina_macroscopico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Orina' && categoria == 'Cristaluria'){
                let route = "{{path('examen_orina_cristaluria_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Heces' && categoria == 'Quimico'){
                let route = "{{path('examen_heces_quimico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Heces' && categoria == 'Microscopico'){
                let route = "{{path('examen_heces_microscopico_index')}}"
                location.replace(route);
            }else if(tipo_examen == 'Heces' && categoria == 'Macroscopico'){
                let route = "{{path('examen_heces_macroscopico_index')}}"
                location.replace(route);
            }else{
                location.replace('');
            }
        });
    }
</script>

{% endblock %}