{% extends 'base.html.twig' %}

{% block title %}ExamenSolicitado{% endblock %}

{% block body %}
    <h1>ExamenSolicitado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_solicitado.id }}</td>
            </tr>
            <tr>
                <th>TipoExamen</th>
                <td>{{ examen_solicitado.tipoExamen }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ examen_solicitado.categoria }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ examen_solicitado.creadoEn ? examen_solicitado.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ examen_solicitado.actualizadoEn ? examen_solicitado.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('examen_solicitado_index') }}">back to list</a>

    <a href="{{ path('examen_solicitado_edit', {'id': examen_solicitado.id}) }}">edit</a>

    {{ include('examen_solicitado/_delete_form.html.twig') }}
{% endblock %}
