{% extends 'base.html.twig' %}

{% block title %}Ingresado{% endblock %}

{% block body %}
    <h2>Paciente Ingresado: {{ingresado.nombre_completo}}</h2>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Clinica:</th>
                <td>{{ingresado.nombr_clinica ? ingresado.nombr_clinica : '' }}</td>
            </tr>
            <tr>
                <th>Sala:</th>
                <td>{{ingresado.sala ? ingresado.sala : '' }}</td>
            </tr>
            <tr>
                <th>Habitacion:</th>
                <td>{{ingresado.habitacion ? ingresado.habitacion : '' }}</td>
            </tr>
            <tr>
                <th>Camilla Asignada:</th>
                <td>{{ingresado.camilla ? ingresado.camilla : '' }}</td>
            </tr>
            <tr>
                <th>Tipo de ingreso:</th>
                
                {% if(ingresado.emergencia)%}
                <td>Emergencia</td>
                {% else %}
                <td>Normal (De Planta)</td>
                {% endif %}

            </tr>
            <tr>
                <th>Fecha de ingreso:</th>
                <td>{{ ingresado.fechaIngreso ? ingresado.fechaIngreso|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de salida:</th>
                <td>{{ ingresado.fechaSalida ? ingresado.fechaSalida|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de creacion:</th>
                <td>{{ ingresado.creadoEn ? ingresado.creadoEn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado por ultima vez:</th>
                <td>{{ ingresado.actualizadoEn ? ingresado.actualizadoEn|date('Y-m-d') : '' }}</td>
            </tr>


        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('ingresado_index') }}">Atras</a>

{% endblock %}
