{% extends 'base.html.twig' %}

{% block title %}Paciente{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            <h4>Pacientes Registrados </h4>
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                    {% if is_granted('ROLE_PERMISSION_NEW_EXPEDIENTE') %}
                        <a href="{{ path('expediente_new') }}" class="btn btn-success" style="color: black; width: 100%"><i class="fa fa-fw fa-user-plus"></i> Registrar Paciente</a>
                    {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Nombre Completo</th>
                                            <th id="relevante" class="all">No. de Expediente</th>
                                            {% if user.getUser().getRol().getNombreRol() == 'ROLE_SA'%}
                                            <th id="relevante" class="all">Clinica</th>
                                            {% endif %}
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for paciente in pacientes %}
                                        {% if paciente.habilitado == true %}
                                            <tr>
                                                <td>{{paciente.nombre_completo}}</td>
                                                <td>{{paciente.expediente}}</td>
                                                {% if user.getUser().getRol().getNombreRol() == 'ROLE_SA'%}
                                                <td>{{paciente.nombre_clinica}}</td>
                                                {% endif %}
                                                <td>
                                                    {% if is_granted('ROLE_PERMISSION_SHOW_EXPEDIENTE') %}
                                                        <a href="{{ path('expediente_show', {'id': paciente.id}) }}" class="btn btn-info">Mostrar</a>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_PERMISSION_EDIT_EXPEDIENTE') %}
                                                        <a href="{{ path('expediente_edit', {'id': paciente.id}) }}" class="btn btn-success">Modificar</a>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_PERMISSION_DELETE_EXPEDIENTE') %}
                                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ paciente.id}}">
                                                            Eliminar
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal{{ paciente.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Expediente</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <div class="modal-body">
                                                                Esta seguro que desea eliminar el expediente?
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                                <form method="post" action="{{ path('expediente_delete', {'id': paciente.id}) }}">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.id) }}">
                                                                    <button type="submit" class="btn btn-outline-danger">Si</button>
                                                                </form>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr style="background-color: #f2dede;">
                                                <td>{{paciente.nombre_completo}}</td>
                                                <td>{{paciente.expediente}}</td>
                                                {% if user.getUser().getRol().getNombreRol() == 'ROLE_SA'%}
                                                <td>{{paciente.nombre_clinica}}</td>
                                                {% endif %}
                                                {% if user.getUser().getRol().getNombreRol() == 'ROLE_SA'%}
                                                <td colspan="3">
                                                    {% if is_granted('ROLE_PERMISSION_DELETE_EXPEDIENTE') %}
                                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{ paciente.id}}" value="{{paciente.id}}">
                                                          Habilitar
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal{{ paciente.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Habilitar Paciente</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <div class="modal-body">
                                                                Esta seguro que desea habilitar el paciente?
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                                <form method="post" action="{{ path('expediente_habilitar', {'id': paciente.id}) }}">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token('habilitar' ~ paciente.id) }}">
                                                                    <button type="submit" class="btn btn-outline-danger">Si</button>
                                                                </form>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                {% else %}
                                                <td>Usuario Deshabilitado</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-secondary" href="{{path('home')}}">Atrás</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}