{% extends 'base.html.twig' %}

{% block title %}Paciente{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            Bienvenido al Sistema Informatico de la Clinica Hospitalaria -----------
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        <a href="{{ path('expediente_new') }}" class="btn btn-success" style="color: black; width: 100%"><i class="fa fa-fw fa-user-plus"></i> Registrar Paciente</a>
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Nombre Completo</th>
                                            <th id="relevante" class="all">No. de Expediente</th>
                                            <th  class="all">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for paciente in pacientes %}
                                        <tr>
                                            <td>{{paciente.nombre_completo}}</td>
                                            <td>{{paciente.expediente}}</td>
                                            <td>
                                                <a href="{{ path('expediente_show', {'id': paciente.id}) }}" class="btn btn-info">Mostrar</a>
                                                <a href="{{ path('expediente_edit', {'id': paciente.id}) }}" class="btn btn-success">Modificar</a>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ paciente.id}}">
                                                  Eliminar
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal{{ paciente.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Esta seguro que desea eliminar el usuario?
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                        <form method="post" action="{{ path('expediente_delete', {'id': paciente.id}) }}">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paciente.id) }}">
                                                            <button type="submit" class="btn btn-outline-danger">Si</button>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}