{% extends 'base.html.twig' %}

{% block title %}Expediente{% endblock %}

{% block body %}
    <h1>Detalles del Paciente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>NumeroExpediente</th>
                <td>{{ expediente.numeroExpediente }}</td>
            </tr>
            <tr>
                <th>FechaNacimiento</th>
                <td>{{ expediente.fechaNacimiento ? expediente.fechaNacimiento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ expediente.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ expediente.telefono }}</td>
            </tr>
            <tr>
                <th>ApellidoCasada</th>
                <td>{{ expediente.apellidoCasada }}</td>
            </tr>
            <tr>
                <th>EstadoCivil</th>
                <td>{{ expediente.estadoCivil }}</td>
            </tr>
        </tbody>
    </table>

<a class="btn btn-secondary" href="{{ path('expediente_index') }}">Atras</a>
<a class="btn btn-primary" href="{{ path('expediente_edit', {'id': expediente.id}) }}">Editar</a>
<a class="btn btn-success" href="{{ path('cita_index', {'expediente': expediente.id}) }}">Crear Cita</a>
{% endblock %}
