{% extends 'base.html.twig' %}

{% block title %}HistoriaMedica{% endblock %}

{% block body %}
    <h1>HistoriaMedica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historia_medica.id }}</td>
            </tr>
            <tr>
                <th>ConsultaPor</th>
                <td>{{ historia_medica.consultaPor }}</td>
            </tr>
            <tr>
                <th>Signos</th>
                <td>{{ historia_medica.signos }}</td>
            </tr>
            <tr>
                <th>Sintomas</th>
                <td>{{ historia_medica.sintomas }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ historia_medica.creadoEn ? historia_medica.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ historia_medica.actualizadoEn ? historia_medica.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CodigoEspecifico</th>
                <td>{{ historia_medica.codigoEspecifico }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_HISTORIA_MEDICA')) %}
        <a class="btn btn-secondary" href="{{ path('historia_medica_index', {'citum': cita.id}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_HISTORIA_MEDICA')) %}
        <a class="btn btn-primary" href="{{ path('historia_medica_edit', {'id': historia_medica.id,'citum': cita.id}) }}">Editar</a>
    {% endif %}
{% endblock %}
