<div class="row">
  <div class="col-md-12">
    <div class="card">

      <h5 class="card-header">
      {% if editar == true %}
        Modificar Clinica
      {% else %}
        Registrar Clinica
      {% endif %}
      </h5>
      <div class="card-body">
        {{ form_start(form) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row">
            <div class="col-md-12">
              {{ form_label(form.nombreClinica) }}
              {{ form_widget(form.nombreClinica) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.direccion) }}
              {{ form_widget(form.direccion) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.telefono) }}
              {{ form_widget(form.telefono) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
            </div>
            <div class="col-md-12">
            </div>
          </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              {% if editar == false %}
                <div class="col-md-3" style="text-align: left;">
                  <button id="limpiarDatos" type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
                </div>
              {% endif %}
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
