{% extends 'base.html.twig' %}

{% block title %}Lista de Clinicas{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            Bienvenido al Sistema Informático de la Clínica Hospitalaria 
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        {% if is_granted('ROLE_PERMISSION_NEW_CLINICA') %}
                            <a href="{{ path('clinica_new') }}" class="btn btn-success" style="color: black; width: 100%"><i class="fa fa-hospital-o"></i> Registrar Nueva Clínica</a>
                        {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Nombre de la Clínica</th>
                                            <th id="relevante" class="all">Dirección</th>
                                            <th id="relevante" class="all">Teléfono</th>
                                            <th id="relevante" class="all">Email</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for clinica in clinicas %}
                                        <tr>
                                            <td>{{ clinica.nombreClinica }}</td>
                                            <td>{{ clinica.direccion }}</td>
                                            <td>{{ clinica.telefono}}</td>
                                            <td>{{ clinica.email}}</td>

                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_SHOW_CLINICA') %}
                                                    <a href="{{ path('clinica_show', {'id': clinica.id}) }}" class="btn btn-info">Mostrar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_EDIT_CLINICA') %}
                                                    <a href="{{ path('clinica_edit', {'id': clinica.id}) }}" class="btn btn-success">Modificar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_CLINICA') %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ clinica.id}}">
                                                    Eliminar
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ clinica.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Clínica</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ¿Está seguro que desea eliminar la clínica?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                            <form method="post" action="{{ path('clinica_delete', {'id': clinica.id}) }}">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clinica.id) }}">
                                                                <button type="submit" class="btn btn-outline-danger">Si</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}