{% extends 'base.html.twig' %}

{% block title %}Clinica{% endblock %}

{% block body %}
    <h1>Clinica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clinica.id }}</td>
            </tr>
            <tr>
                <th>NombreClinica</th>
                <td>{{ clinica.nombreClinica }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ clinica.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ clinica.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ clinica.email }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ clinica.creadoEn ? clinica.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ clinica.actualizadoEn ? clinica.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('clinica_index') }}">back to list</a>

{% endblock %}
