{% extends 'base.html.twig' %}

{% block title %}Detalles de la Clinica{% endblock %}

{% block body %}
    <h1>Detalles de la Clinica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NombreClinica</th>
                <td>{{ clinica.nombreClinica }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ clinica.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ clinica.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ clinica.email }}</td>
            </tr>
        </tbody>
    </table>

    {%if (is_granted('ROLE_PERMISSION_INDEX_CLINICA')) %}
        <a class="btn btn-secondary" href="{{ path('clinica_index') }}">Atras</a>
    {% endif %}
    {% if(is_granted('ROLE_PERMISSION_EDIT_CLINICA')) %}
        <a class="btn btn-primary" href="{{ path('clinica_edit', {'id': clinica.id}) }}">Editar</a>
    {% endif %}
    {% if is_granted('ROLE_PERMISSION_INDEX_SALA')%}
        <a class="btn btn-success" href="{{path('sala_index', {'clinica':clinica.id} )}}">Crear Salas</a>
    {% endif %}
    {% if is_granted('ROLE_PERMISSION_INDEX_HABITACION')%}
        <a class="btn btn-success" href="{{path('habitacion_index', {'clinica':clinica.id} )}}">Crear Habitaciones</a>
    {% endif %}
{% endblock %}
