{% extends 'base.html.twig' %}

{% block title %}Anexo{% endblock %}

{% block body %}
    <h1>Anexo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anexo.id }}</td>
            </tr>
            <tr>
                <th>NombreArchivo</th>
                <td>{{ anexo.nombreArchivo }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ anexo.ruta }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ anexo.creadoEn ? anexo.creadoEn|date('Y-m-d ) : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ anexo.actualizadoEn ? anexo.actualizadoEn|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('anexo_index') }}">Atrás</a>

    <a href="{{ path('anexo_edit', {'id': anexo.id}) }}">Editar</a>

    {{ include('anexo/_delete_form.html.twig') }}
{% endblock %}
