{% extends 'base.html.twig' %}

{% block title %}ExamenHecesQuimico{% endblock %}

{% block body %}
    <h1>ExamenHecesQuimico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdExamen_Heces_Quimico</th>
                <td>{{ examen_heces_quimico.id }}</td>
            </tr>
            <tr>
                <th>Ph</th>
                <td>{{ examen_heces_quimico.ph }}</td>
            </tr>
            <tr>
                <th>Azucares_reductores</th>
                <td>{{ examen_heces_quimico.azucaresReductores }}</td>
            </tr>
            <tr>
                <th>Sangre_oculta</th>
                <td>{{ examen_heces_quimico.sangreOculta }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ examen_heces_quimico.creadoEn ? examen_heces_quimico.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ examen_heces_quimico.actualizadoEn ? examen_heces_quimico.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_heces_quimico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_EXAMENES')) %}
        <a class="btn btn-primary" href="{{ path('examen_heces_quimico_edit', {'id': examen_heces_quimico.id,'examen_solicitado': examen_solicitado.getId()}) }}">Editar</a> 
    {% endif %}
{% endblock %}
