{% extends 'base.html.twig' %}

{% block title %}Detalles del Rol{% endblock %}

{% block body %}
    <h1>Detalles del Rol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rol.id }}</td>
            </tr>
            <tr>
                <th>NombreRol</th>
                <td>{{ rol.nombreRol }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ rol.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    {%if (is_granted('ROLE_PERMISSION_INDEX_ROL')) %}
      <a class="btn btn-secondary" href="{{ path('rol_index') }}">Atras</a>
    {% endif %}
    {% if(is_granted('ROLE_PERMISSION_EDIT_ROL')) %}
        <a class="btn btn-primary"href="{{ path('rol_edit', {'id': rol.id}) }}">Editar</a>
    {% endif %}
{% endblock %}
