{% extends 'base.html.twig' %}

{% block title %}Lista de Habitaciones{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            <h4>Habitaciones de la Clinica: {{ clinica.getNombreClinica() }} </h4>
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        {% if is_granted('ROLE_PERMISSION_NEW_HABITACION') %}
                            <a href="{{ path('habitacion_new',{'clinica': clinica.id}) }}" class="btn btn-success" style="color: black; width: 100%"><i class="fas fa-door-open"></i> Registrar Habitacion</a>
                        {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Numero de Habitacion</th>
                                            <th id="relevante" class="all" >Sala</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for habitacion in habitaciones %}
                                        <tr>
                                            <td>{{ habitacion.numero_habitacion}}</td>
                                            <td>{{ habitacion.nombre_sala }}</td>
                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_SHOW_HABITACION') %}
                                                    <a href="{{ path('habitacion_show', {'id': habitacion.id,'clinica':clinica.id}) }}" class="btn btn-info">Mostrar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_EDIT_HABITACION') %}
                                                    <a href="{{ path('habitacion_edit', {'id': habitacion.id,'clinica':clinica.id}) }}" class="btn btn-success">Modificar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_HABITACION') %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ habitacion.id}}">
                                                    Eliminar
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ habitacion.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Habitacion</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Esta seguro que desea eliminar la habitacion?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                            <form method="post" action="{{ path('habitacion_delete', {'id': habitacion.id,'clinica':clinica.id}) }}">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitacion.id) }}">
                                                                <button type="submit" class="btn btn-outline-danger">Si</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if(is_granted('ROLE_PERMISSION_SHOW_CLINICA')) %}
                                <a class="btn btn-secondary" href="{{ path('clinica_show', {'id': clinica.id} )}}">Atrás</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}
