{% extends 'base.html.twig' %}

{% block title %}Habitacion{% endblock %}

{% block body %}
    <h1>Habitacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habitacion.id }}</td>
            </tr>
            <tr>
                <th>NumeroHabitacion</th>
                <td>{{ habitacion.numeroHabitacion }}</td>
            </tr>
        </tbody>
    </table>

    {%if (is_granted('ROLE_PERMISSION_INDEX_HABITACION')) %}
      <a class="btn btn-secondary" href="{{ path('habitacion_index',{'clinica':clinica.id}) }}">Atras</a>
    {% endif %}
    {% if(is_granted('ROLE_PERMISSION_EDIT_HABITACION')) %}
        <a class="btn btn-primary" href="{{ path('habitacion_edit', {'id': habitacion.id,'clinica':clinica.id}) }}">Editar</a>
    {% endif %}
    {% if is_granted('ROLE_PERMISSION_INDEX_CAMILLA')%}
        <a class="btn btn-success" href="{{path('camilla_index', {'habitacion':habitacion.id} )}}">Asignar Camillas</a>
    {% endif %}
{% endblock %}
