{% extends 'base.html.twig' %}

{% block title %}Sala{% endblock %}

{% block body %}
    <h1>Sala</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sala.id }}</td>
            </tr>
            <tr>
                <th>NombreSala</th>
                <td>{{ sala.nombreSala }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ sala.creadoEn ? sala.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ sala.actualizadoEn ? sala.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{%if (is_granted('ROLE_PERMISSION_INDEX_SALA')) %}
    <a class="btn btn-secondary" href="{{ path('sala_index',{'clinica':clinica.id}) }}">Atras</a>
{% endif %}
{% if(is_granted('ROLE_PERMISSION_EDIT_SALA')) %}
    <a class="btn btn-primary" href="{{ path('sala_edit', {'id':sala.id,'clinica': clinica.id}) }}">Editar</a>
{% endif %}
{% endblock %}
