<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        {% if editar == true %}
          Modificar Examen
        {% else %}
          Registrar Examen
        {% endif %}
      </h5>
      <div class="card-body">
        {{ form_start(form) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row">
            <div class="col-md-12">
              {{ form_label(form.color) }}
              {{ form_widget(form.color) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.aspecto) }}
              {{ form_widget(form.aspecto) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.sedimento) }}
              {{ form_widget(form.sedimento) }}
            </div>
          </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              <div class="col-md-3" style="text-align: left;">
                <button type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>