{% extends 'base.html.twig' %}

{% block title %}ExamenOrinaMacroscopico{% endblock %}

{% block body %}
    <h1>ExamenOrinaMacroscopico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_orina_macroscopico.id }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ examen_orina_macroscopico.color }}</td>
            </tr>
            <tr>
                <th>Aspecto</th>
                <td>{{ examen_orina_macroscopico.aspecto }}</td>
            </tr>
            <tr>
                <th>Sedimento</th>
                <td>{{ examen_orina_macroscopico.sedimento }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ examen_orina_macroscopico.creadoEn ? examen_orina_macroscopico.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ examen_orina_macroscopico.actualizadoEn ? examen_orina_macroscopico.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_orina_macroscopico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_EXAMENES')) %}
        <a class="btn btn-primary" href="{{ path('examen_orina_macroscopico_edit', {'id': examen_orina_macroscopico.id,'examen_solicitado': examen_solicitado.getId()}) }}">Editar</a> 
    {% endif %}
{% endblock %}
