{% extends 'base.html.twig' %}

{% block title %}Lista de Familiares{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            Bienvenido al Sistema Informatico de la Clinica Hospitalaria 
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        {% if user.getUser().getRol().getNombreRol() != 'ROLE_PACIENTE' %}
                            {% if is_granted('ROLE_PERMISSION_NEW_FAMILIAR') %}
                                <a class="btn btn-success" href="{{path('familiar_new',{'expediente': expediente.getId()})}}" style="color: black;"><i class="fas fa-id-card"></i> Registrar Familiar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Nombre Completo</th>
                                            <th id="relevante" class="all">Parentesco</th>
                                            <th id="relevante" class="all">Telefono</th>
                                            <th id="relevante" class="all">Responsable</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for familiar in familiares %}
                                        <tr>
                                            <td>{{ familiar.primer_nombre}} {{ familiar.segundo_nombre}} {{familiar.primer_apellido}} {{familiar.segundo_apellido}} </td>
                                            <td>{{ familiar.descripcion }}</td>
                                            <td>{{ familiar.telefono }}</td>
                                            {% if(familiar.responsable == true) %}
                                                <td>Responsable</td>
                                            {% else %}
                                                <td>No Responsable</td>
                                            {% endif %}
                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_SHOW_FAMILIAR') %}
                                                    <a href="{{ path('familiar_show', {'expediente': expediente.getId(), id: familiar.id}) }}" class="btn btn-info">Mostrar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_EDIT_FAMILIAR') %}
                                                    <a href="{{ path('familiar_edit', {'expediente': expediente.getId(), id: familiar.id}) }}" class="btn btn-success">Modificar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_FAMILIAR') %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ familiar.id}}">
                                                    Eliminar
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ familiar.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Familiar</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Esta seguro que desea eliminar el familiar?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                            <form method="post" action="{{ path('familiar_delete', {'expediente': expediente.getId(), id: familiar.id}) }}">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ familiar.id) }}">
                                                                <button type="submit" class="btn btn-outline-danger">Si</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% endif %}
                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {%if (is_granted('ROLE_PERMISSION_SHOW_EXPEDIENTE')) %}
                                <a class="btn btn-secondary" href="{{ path('expediente_show', {'id':expediente.getId()} ) }}">Atras</a>
                            {% endif %}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}