{% extends 'base.html.twig' %}

{% block title %}Historial Propio{% endblock %}

{% block body %}

<div class="card">
        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="color: black">
                                    <h4>Detalle del Historial Propio</h4> 
                                </div>
                            </div>
        </div>
         <div class="card-body">
            <div class="table table-responsive">
                    
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ historial_propio.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de creacion (Año-Mes-Dia):</th>
                            <td>{{ historial_propio.creadoEn ? historial_propio.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Ultima Actualizacion (Año-Mes-Dia):</th>
                            <td>{{ historial_propio.actualizadoEn ? historial_propio.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                {% if(is_granted('ROLE_PERMISSION_INDEX_HISTORIAL_PROPIO')) %}
                    <a class="btn btn-secondary" href="{{ path('historial_propio_index', {'expediente': expediente.id}) }}">Atras</a>
                {% endif %}
                {% if(is_granted('ROLE_PERMISSION_EDIT_HISTORIAL_PROPIO')) %}
                    <a class="btn btn-primary" href="{{ path('historial_propio_edit', {'id': historial_propio.id,'expediente': expediente.id}) }}">Editar</a>
                {% endif %} 
        </div>

</div>



    

    
{% endblock %}
