{% extends 'base.html.twig' %}

{% block title %}ExamenHecesMicroscopico index{% endblock %}

{% block body %}
    <h1>ExamenHecesMicroscopico index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hematies</th>
                <th>Leucocito</th>
                <th>FloraBacteriana</th>
                <th>Levadura</th>
                <th>Creado_en</th>
                <th>Actualizado_en</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for examen_heces_microscopico in examen_heces_microscopicos %}
            <tr>
                <td>{{ examen_heces_microscopico.id }}</td>
                <td>{{ examen_heces_microscopico.hematies }}</td>
                <td>{{ examen_heces_microscopico.leucocito }}</td>
                <td>{{ examen_heces_microscopico.floraBacteriana }}</td>
                <td>{{ examen_heces_microscopico.levadura }}</td>
                <td>{{ examen_heces_microscopico.creadoEn ? examen_heces_microscopico.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ examen_heces_microscopico.actualizadoEn ? examen_heces_microscopico.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('examen_heces_microscopico_show', {'id': examen_heces_microscopico.id}) }}">show</a>
                    <a href="{{ path('examen_heces_microscopico_edit', {'id': examen_heces_microscopico.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('examen_heces_microscopico_new') }}">Create new</a>
{% endblock %}
