{% extends 'base.html.twig' %}

{% block title %}ExamenHecesMicroscopico{% endblock %}

{% block body %}
    <h1>ExamenHecesMicroscopico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_heces_microscopico.id }}</td>
            </tr>
            <tr>
                <th>Hematies</th>
                <td>{{ examen_heces_microscopico.hematies }}</td>
            </tr>
            <tr>
                <th>Leucocito</th>
                <td>{{ examen_heces_microscopico.leucocito }}</td>
            </tr>
            <tr>
                <th>FloraBacteriana</th>
                <td>{{ examen_heces_microscopico.floraBacteriana }}</td>
            </tr>
            <tr>
                <th>Levadura</th>
                <td>{{ examen_heces_microscopico.levadura }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_heces_microscopico_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_EXAMENES')) %}
        <a href="{{ path('examen_heces_microscopico_edit', {'id': examen_heces_microscopico.id,'examen_solicitado': examen_solicitado.getId()}) }}">Editar</a> 
    {% endif %}
{% endblock %}
