<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Médicos Sin Fronteras</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('images/logo/favicon2.png')}}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{asset('css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery.datetimepicker.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/top.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>
<body>

<a id="button"></a>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> Llamanos! 503 7046 2070</h6>
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span><fict1>franciscoserrano@gmail.com</fict1></h6>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{{path('app_login')}}"><img src="{{asset('images/logo/logo2.png')}}" alt="" title="" />
                    </a> 
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{path('app_login')}}">Inicio</a></li>
                        <li class="menu-active"><a href="" id="button2">Acerca de Nosotros</a></li>	          				          
                    </ul>
                </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4>En búsqueda de tu bienestar</h4>
                    <h1>Clínica Hospitalaria Médicos Sin Fronteras</h1>
                    <h4>Doctores interconectados listos para proporcionar servicios médicos profesionales personalizados y centrados para aliviar de manera integral sus problemas de salud</p>
                    <a href="{{path('app_login')}}" class="template-btn mt-3">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="{{asset('images/f1.png')}}" alt="">
                        <h3>capacidad multi clínica</h3>
                        <p class="pt-3">La solución perfecta para poder albergar múltiples instancias de clínicas coexistiendo en un mismo entorno.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="{{asset('images/f2.png')}}" alt="">
                        <h3>administración de personal</h3>
                        <p class="pt-3">Capacidad para poder administrar las funciones del personal y la información pacientes de cada clínica</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="{{asset('images/f3.png')}}" alt="">
                        <h3>Exámenes Variados</h3>
                        <p class="pt-3">Equipado con las funciones necesarias para el manejo y archivo de los exámenes médicos básicos.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="{{asset('images/f4.png')}}" alt="">
                        <h3>administración de citas</h3>
                        <p class="pt-3">Capacidad para poder mantener una agenda ordenada de actividades para cada doctor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding3">
        <div class="container" id="scroll">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="welcome-img">
                        <img src="{{asset('images/welcome.png')}}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2 align="center">Bienvenidos a nuestro sistema de clínicas</h2>
                        <p class="pt-3"></p>
                        <p align="center">Copyright BeastCode en la materia de BAD-115, Universidad de El Salvador</p>
                        <p align="center"><img src="{{asset('images/ues1.png')}}" alt=""></p>
                        <!--<a href="#" class="template-btn mt-3">learn more</a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Specialist Area Starts -->
    <section class="specialist-area section-padding">
        <div class="containe">
            <div class="row no-gutters">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Nuestros Desarrolladores</h2>
                        <p>Este proyecto no podría haberse realizado sin la ardua labor de nuestro equipo de desarrollo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-6 offset-lg-1">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{{asset('images/dev1.jpg')}}" alt="" class="responsive">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Mauricio<br>Granados</h3>
                                <h6>Estudiante para la materia de BAD115</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Encargado de la integración de la base de datos con la aplicación principal<hr></p>
                                <ul class="doctor-icon">
                                    <li><a href="https://www.facebook.com/mauricio.granados.7771"><i class="fa fa-facebook"></i><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{{asset('images/dev2.jpg')}}" alt="" class="responsive">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Erick<br>Palma</h3>
                                <h6>Estudiante para la materia de BAD115</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Encargado del diseño de pantallas de la aplicación principal<hr></p>
                                <ul class="doctor-icon">
                                    <li><a href="https://www.facebook.com/erick.palma11"><i class="fa fa-facebook"></i><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single-doctor mb-4 mb-sm-0">
                        <div class="doctor-img">
                            <img src="{{asset('images/dev3.jpg')}}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Alejandro<br>Granados</h3>
                                <h6>Estudiante para la materia de BAD115</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Encargado del análisis y diseño de la base de datos<hr></p>
                                <ul class="doctor-icon">
                                    <li><a href="https://www.facebook.com/Alejandro.S.G03"><i class="fa fa-facebook"></i><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{{asset('images/dev4.jpg')}}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Jorge<br>Alberto</h3>
                                <h6>Estudiante para la materia de BAD115</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Encargado de la programación y del montaje de la base de datos.<hr></p>
                                <ul class="doctor-icon">
                                    <li><a href="https://www.facebook.com/gomez.jorge.1234"><i class="fa fa-facebook"></i><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{{asset('images/dev5.jpg')}}" alt="" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Sergio<br>Martínez</h3>
                                <h6>Estudiante para la materia de BAD115</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Encargado de diseño de pantallas de la aplicación principal<hr></p>
                                <ul class="doctor-icon">
                                    <li><a href="https://www.facebook.com/semr.rusky"><i class="fa fa-facebook"></i><a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer Area Starts -->
    <footer class="footer-area">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>
                             Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                             Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{{asset('js/vendor/jquery-2.2.4.min.js')}}"></script>
	<script src="{{asset('js/vendor/bootstrap-4.1.3.min.js')}}"></script>
    <script src="{{asset('js/vendor/wow.min.js')}}"></script>
    <script src="{{asset('js/vendor/owl-carousel.min.js')}}"></script>
    <script src="{{asset('js/vendor/jquery.datetimepicker.full.min.js')}}"></script>
    <script src="{{asset('js/vendor/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('js/vendor/superfish.min.js')}}"></script>
    <script src="{{asset('js/vendor/top.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>

</body>
</html>