<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">
        {% if editar == true %}
          Modificar Examen
        {% else %}
          Registrar Examen
        {% endif %}
      </h5>
      <div class="card-body">
        {{ form_start(form) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row">
            <div class="col-md-12">
              {{ form_label(form.densidad) }}
              {{ form_widget(form.densidad) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.ph) }}
              {{ form_widget(form.ph) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.glucosa) }}
              {{ form_widget(form.glucosa) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.proteinas) }}
              {{ form_widget(form.proteinas) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.hemoglobina) }}
              {{ form_widget(form.hemoglobina) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.cuerpoCetonico) }}
              {{ form_widget(form.cuerpoCetonico) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.pigmentoBiliar) }}
              {{ form_widget(form.pigmentoBiliar) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.urobilinogeno) }}
              {{ form_widget(form.urobilinogeno) }}
            </div>
            <div class="col-md-12">
              {{ form_label(form.nitritos) }}
              {{ form_widget(form.nitritos) }}
            </div>
          </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              {% if editar == false %}
                <div class="col-md-3" style="text-align: left;">
                  <button id="limpiarDatos" type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
                </div>
              {% endif %}
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>