{% extends 'base.html.twig' %}

{% block title %}Examenes de Quimica Sanguinea{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            <h4>Examenes de Quimica Sanguinea</h4>
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                        {% if is_granted('ROLE_PERMISSION_NEW_EXAMENES') %}
                            <a href="{{ path('examen_quimica_sanguinea_new',{'examen_solicitado': examen_solicitado.getId() }) }}" class="btn btn-success" style="color: black; width: 100%"><i class="fas fa-file-medical"></i> Registrar Resultados</a>
                        {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Parametro</th>
                                            <th id="relevante" class="all">Resultado</th>
                                            <th id="relevante" class="all">Comentario</th>
                                            <th id="relevante" class="all">Unidades</th>
                                            <th id="relevante" class="all">Rango</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for examen_quimica_sanguinea in examen_quimica_sanguineas %}
                                        <tr>
                                            <td>{{ examen_quimica_sanguinea.parametro }}</td>
                                            <td>{{ examen_quimica_sanguinea.resultado }}</td>
                                            <td>{{ examen_quimica_sanguinea.comentario}}</td>
                                            <td>{{ examen_quimica_sanguinea.unidades}}</td>
                                            <td>{{ examen_quimica_sanguinea.rango}}</td>
                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_SHOW_EXAMENES') %}
                                                    <a href="{{ path('examen_quimica_sanguinea_show', {'id': examen_quimica_sanguinea.id,'examen_solicitado': examen_solicitado.getId()}) }}" class="btn btn-info">Mostrar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_EDIT_EXAMENES') %}
                                                    <a href="{{ path('examen_quimica_sanguinea_edit', {'id': examen_quimica_sanguinea.id,'examen_solicitado': examen_solicitado.getId()}) }}" class="btn btn-success">Modificar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_EXAMENES') %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ examen_quimica_sanguinea.id}}">
                                                    Eliminar
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ examen_quimica_sanguinea.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Examen</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Esta seguro que desea eliminar este examen?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                            <form method="post" action="{{ path('examen_quimica_sanguinea_delete', {'id': examen_quimica_sanguinea.id,'examen_solicitado': examen_solicitado.getId()}) }}">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examen_quimica_sanguinea.id) }}">
                                                                <button type="submit" class="btn btn-outline-danger">Si</button>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% if(is_granted('ROLE_PERMISSION_INDEX_EXAMEN_SOLICITADO')) %}
                                <a class="btn btn-secondary" href="{{ path('examen_solicitado_index',{'cita': examen_solicitado.getCita().getId()}) }}">Atras</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}