{% extends 'base.html.twig' %}

{% block title %}ExamenQuimicaSanguinea{% endblock %}

{% block body %}
    <h1>Examen de Quimica Sanguinea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_quimica_sanguinea.id }}</td>
            </tr>
            <tr>
                <th>Parametro</th>
                <td>{{ examen_quimica_sanguinea.parametro }}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{ examen_quimica_sanguinea.resultado }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ examen_quimica_sanguinea.comentario }}</td>
            </tr>
            <tr>
                <th>Unidades</th>
                <td>{{ examen_quimica_sanguinea.unidades }}</td>
            </tr>
            <tr>
                <th>Rango</th>
                <td>{{ examen_quimica_sanguinea.rango }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ examen_quimica_sanguinea.creadoEn ? examen_quimica_sanguinea.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ examen_quimica_sanguinea.actualizadoEn ? examen_quimica_sanguinea.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_quimica_sanguinea_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_EXAMENES')) %}
        <a class="btn btn-primary" href="{{ path('examen_quimica_sanguinea_edit', {'id': examen_quimica_sanguinea.id,'examen_solicitado': examen_solicitado.getId()}) }}">Editar</a> 
    {% endif %}
{% endblock %}
