{% extends 'base.html.twig' %}

{% block title %}ExamenOrinaCristaluria{% endblock %}

{% block body %}
    <h1>ExamenOrinaCristaluria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_orina_cristaluria.id }}</td>
            </tr>
            <tr>
                <th>UratosAmorfos</th>
                <td>{{ examen_orina_cristaluria.uratosAmorfos }}</td>
            </tr>
            <tr>
                <th>AcidoUrico</th>
                <td>{{ examen_orina_cristaluria.acidoUrico }}</td>
            </tr>
            <tr>
                <th>OxalatosCalcicos</th>
                <td>{{ examen_orina_cristaluria.oxalatosCalcicos }}</td>
            </tr>
            <tr>
                <th>FosfatosAmorfos</th>
                <td>{{ examen_orina_cristaluria.fosfatosAmorfos }}</td>
            </tr>
            <tr>
                <th>FosfatosCalcicos</th>
                <td>{{ examen_orina_cristaluria.fosfatosCalcicos }}</td>
            </tr>
            <tr>
                <th>FosfatosAmonicos</th>
                <td>{{ examen_orina_cristaluria.fosfatosAmonicos }}</td>
            </tr>
            <tr>
                <th>RiesgoLitogenico</th>
                <td>{{ examen_orina_cristaluria.riesgoLitogenico }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ examen_orina_cristaluria.creadoEn ? examen_orina_cristaluria.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ examen_orina_cristaluria.actualizadoEn ? examen_orina_cristaluria.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if (is_granted('ROLE_PERMISSION_INDEX_EXAMENES')) %}
        <a class="btn btn-secondary" href="{{ path('examen_orina_cristaluria_index',{'examen_solicitado': examen_solicitado.getId()}) }}">Atras</a>
    {% endif %}
    {% if (is_granted('ROLE_PERMISSION_EDIT_EXAMENES')) %}
        <a class="btn btn-primary" href="{{ path('examen_orina_cristaluria_edit', {'id': examen_orina_cristaluria.id,'examen_solicitado': examen_solicitado.getId()}) }}">Editar</a> 
    {% endif %}
{% endblock %}
