{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Modificar Usuario</h5>
      <div class="card-body">
        {{ form_start(form, {'action': path('user_edit', {'id': user.id})}) }}

          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('edit-item') }}"/>
          <div class="row" style="text-align: center">
            <div class="col-md-4">
              {{ form_label(form.nombres) }}
              {{ form_widget(form.nombres) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.apellidos) }}
              {{ form_widget(form.apellidos) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-md-4">
              {{ form_label(form.clinica) }}
              {{ form_widget(form.clinica) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.rol) }}
              {{ form_widget(form.rol) }}
            </div>
            <div class="col-md-4" id="seccion_especialidad">
              {{ form_label(form.usuario_especialidades) }}
              {{ form_widget(form.usuario_especialidades) }}
            </div>
            <div class="col-md-4" id="seccion_emergencia">
              {{ form_label(form.emergencia,"Doctor de emergencia") }}
              {{ form_widget(form.emergencia) }}
            </div>
            <div class="col-md-4" id="seccion_planta">
              {{ form_label(form.planta,"Doctor de planta") }}
              {{ form_widget(form.planta) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.nuevo_password) }}
              {{ form_widget(form.nuevo_password) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.repetir_nuevo_password) }}
              {{ form_widget(form.repetir_nuevo_password) }}
            </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-4"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              <div class="col-md-3" style="text-align: left;">
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  <a class="btn btn-secondary btn-inline" href="{{ path('user_index') }}">Atras</a>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/modificar_usuario.js')}}"></script>
{% endblock %}
