{% extends 'base.html.twig' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="color: black">
                            Bienvenido al Sistema Informatico de la Clinica Hospitalaria
                            {% if(user.getUser().getRol().getNombreRol() != 'ROLE_SA' ) %}
                                {{user.getUser().getClinica().getNombreClinica()}}
                            {% else %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pull-right" align="center">
                    {% if is_granted('ROLE_PERMISSION_NEW_USER') %}
                        <a href="{{ path('user_new') }}" class="btn btn-success" style="color: black; width: 100%"><i class="fa fa-fw fa-user-plus"></i> Registrar Usuario</a>
                    {% endif %}
                    </div>
                    <br/>
                    <br/>
                    <div class="pull-bottom">
                        <div class="table table-responsive">
                                <table id="example" class="display table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="relevante" class="all">Nombre Completo</th>
                                            <th id="relevante" class="all">Email</th>
                                            <th id="relevante" class="all">Clininca</th>
                                            <th id="relevante" class="all">Rol</th>
                                            <th  class="all">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.Nombres }} {{ user.Apellidos }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.clinica}}</td>
                                            <td>{{ user.rol}}</td>

                                            <td>
                                                {% if is_granted('ROLE_PERMISSION_SHOW_USER') %}
                                                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Mostrar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_EDIT_USER') %}
                                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success">Modificar</a>
                                                {% endif %}

                                                {% if is_granted('ROLE_PERMISSION_DELETE_USER') %}
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ user.id}}">
                                                  Eliminar
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal{{ user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Esta seguro que desea eliminar el usuario?
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                                                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                            <button type="submit" class="btn btn-outline-danger">Si</button>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Button trigger modal -->



{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
       var table=$('#example').DataTable({
            "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            responsive:true,
        });
    } );
</script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}