{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
{% if ('There is already an account with this email' in form_errors(form.email)) %}
<div class="alert alert-danger">
    Usuario con email ya existe
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Registrar Usuario</h5>
      <div class="card-body">
        {{ form_start(form) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row" style="text-align: center">
            <div class="col-md-4">
              <label for="primerNombre">Primer Nombre</label>
              <input class="form-control" type="text" name="primerNombre" id="primerNombre">
            </div>
            <div class="col-md-4">
              <label for="segundoNombre">Segundo Nombre</label>
              <input class="form-control" type="text" name="segundoNombre" id="segundoNombre">
            </div>
            <div class="col-md-4">
              <label for="primerApellido">Primer Apellido</label>
              <input class="form-control" type="text" name="primerApellido" id="primerApellido">
            </div>
            <div class="col-md-4">
              <label for="segundoApellido">Segundo Apellido</label>
              <input class="form-control" type="text" name="segundoApellido" id="segundoApellido">
            </div>
            <div class="col-md-4">
              {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
            </div>
            {% if pertenece == null %}
            <div class="col-md-4" style="color:white">
              <label style="align-content: center;">Clínica:</label>
              <select class="form-control" id="clinica" name="clinica" required>
              <option value="">Seleccionar la Clínica</option>
                  {% for clinica in clinicas %}
                    <option value="{{clinica.id}}"> {{clinica.nombreClinica}}</option>
                  {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="col-md-4">
              {{ form_label(form.rol) }}
              {{ form_widget(form.rol) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.password,"Contraseña") }}
              {{ form_widget(form.password) }}
              <div class="alert-danger" role="alert">
                {{ form_errors(form.password) }}
              </div>
            </div>
          </div>
            <div id="seccion_especialidad">
              <div class="row">
                <div class="col-md-12">
                  {{ form_label(form.usuario_especialidades ) }}
                  {{ form_widget(form.usuario_especialidades) }}
                </div>
              </div>
            </div>
            <div id="seccion_emergencia">
              <div class="row">
                <div class="col-md-12">
                  {{ form_label(form.emergencia) }}
                  {{ form_widget(form.emergencia) }}
                </div>
              </div>
            </div>
            <div id="seccion_planta">
              <div class="row">
                <div class="col-md-12">
                  {{ form_label(form.planta) }}
                  {{ form_widget(form.planta) }}
                </div>
              </div>
            </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              <div class="col-md-3" style="text-align: left;">
                <button type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
      {% if(is_granted('ROLE_PERMISSION_INDEX_USER')) %}
        <a class="btn btn-secondary btn-inline" href="{{ path('user_index') }}">Atrás</a>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/crear_usuario.js')}}"></script>
{% endblock %}