{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="color: black">
                        Registrar Usuario   
                    </div>
                </div>
            </div>
            <div class="card-body" style="width: 100%">
                <form method="POST" action="{{path('user_new')}}">
                 {# the argument of csrf_token() is an arbitrary string used to generate the token #}
    			  <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
                  <div class="row" style="text-align: center">
                    <div class="col-md-4">
                      <label style="align-content: center;">Nombres:</label>
                      <input id="primer_nombre" name="primer_nombre"  type="text" class="form-control" placeholder="Primer Nombre" >
                    </div>
                    <div class="col-md-4">
                    <label style="align-content: center;">Apellidos:</label>
                      <input id="primer_apellido" name="primer_apellido" type="text" class="form-control" placeholder="Primer Apellido" >
                    </div>
                  </div>

                  <div class="row" style="text-align: center;">
                    <div class="col-md-4">
                    <label style="align-content: center;">E-Mail:</label>
                      <input id="email" name="email" type="email" class="form-control" placeholder="E-Mail" required>
                    </div>
                    <div class="col-md-4">
                      <label style="align-content: center;">Rol:</label>
                      <select class="form-control" id="role" name="role" required>
                          <option value="">Seleccionar Rol</option>
                          {% for rol in roles %}
                          	<option value"{{rol.id}}"> {{rol.nombreRol}}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="container" style="margin-top: 1%">
                      <div class="row" style="text-align: center;">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-success">Guardar</button>
                        </div>
                        <div class="col-md-3" style="text-align: left;">
                            <button type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
                        </div>
                        <div class="col-md-3"></div>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <a href="{{ path('user_index') }}" class ="btn btn-secondary">back to list</a>
{% endblock %}
