{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Registrar Usuario</h5>
      <div class="card-body">
        {{ form_start(form) }}
          {# the argument of csrf_token() is an arbitrary string used to generate the token #}
          <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
          <div class="row" style="text-align: center">
            <div class="col-md-4">
              {{ form_label(form.nombres) }}
              {{ form_widget(form.nombres) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.apellidos) }}
              {{ form_widget(form.apellidos) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-md-4">
              {{ form_label(form.clinica) }}
              {{ form_widget(form.clinica) }}
            </div>
            <div class="col-md-4">
              {{ form_label(form.rol) }}
              {{ form_widget(form.rol) }}
            </div>
            <div class="col-md-12" style="color:white">.</div>
            <div id="seccion_especialidades" name="seccion_especialidades">
                <div class="col-md-12">
                  {{ form_label(form.usuario_especialidades) }}
                  <br>
                  <div id="especialidades">
                  {% for field in form.usuario_especialidades %}
                    <br/>
                     <div class="container" align="left" style="display: inline-block; width: 180px;">
                       {{ form_widget(field) }}
                       {{ form_label(field) }}
                     </div>
                  {% endfor %}
                </div>
            </div>
          </div>
          <div class="container" style="margin-top: 1%">
            <div class="row" style="text-align: center;">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                {{ form_label(form.guardar) }}
                {{ form_widget(form.guardar) }}
              </div>
              <div class="col-md-3" style="text-align: left;">
                <button type="reset" class="btn btn-outline-info">Limpiar Pantalla</button>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
<a href="{{ path('user_index') }}" class ="btn btn-secondary">back to list</a>
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/crear_usuario.js')}}"></script>
{% endblock %}