{% extends 'base.html.twig' %}

{% block title %}Detalles del Usuario{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12 col-sm-12" style="color: black">
                                    <h4>Detalles del Usuario: {{persona.nombre_completo}} </h4> 
                                </div>
                            </div>
        </div>
         <div class="card-body">
            <div class="table table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{ usuario.email }}</td>
                            </tr>
                            <tr>
                                <th>Rol</th>
                                <td>{{ persona.nombre_rol }}</td>
                            </tr>

                            <tr>
                                <th>Clinica</th>
                                <td>{{ persona.nombre_clinica }}</td>
                            </tr>

                            <tr>
                                {% if(persona.emergencia==1) %}
                                <th>Doctor asignado a pacientes ingresados</th>
                                <td>Emergencia</td>
                                {% elseif(persona.planta==1) %}
                                <th>Doctor asignado a pacientes ingresados</th>
                                <td>Planta</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
            </div>
                    {% if(is_granted('ROLE_PERMISSION_INDEX_USER')) %}
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">Atrás</a>
                    {% endif %}
                    {% if(is_granted('ROLE_PERMISSION_EDIT_USER')) %}
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': usuario.id}) }}">Editar</a>
                    {% endif %}
        </div>

    </div>
    
{% endblock %}
